
h1{
    position: absolute;
    color: rgb(0, 130, 244);
    bottom:20%;
    right: 5%;
}
.justify-content-start{
 padding:-10px   
}
.dog{
    font-family: "Arial";
    padding: 30px;
}
.welcome{
    padding: 15px;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    font-family: "Arial";
}

.news{
    font-family: "Arial";
    padding:15px;
    background-color: rgb(238, 235, 235);
}

.headers{
    font-family: "Arial";
    padding:15px;
}

h2{
    font-family: "Arial";
    color:green
}
a:visited {
    color: green;
    text-decoration: underline;
  }
  a:link {
    color: green;
    text-decoration: underline;
  }

.footer{
    
    font-family: "Arial";
    background-color:rgb(112, 237, 112);
    width:100%;
    height:70px;
    text-align:center; 
    padding-top: 15px;
}
.p1{
    font-family: Arial;
}
